<div class="flex space-x-2 my-2">

    <div class="h-10 px-3 py-2 bg-gray-200 rounded-xl flex justify-center items-center">
        <div class="w-6 h-6"></div>
        <div class="text-neutral-500 text-xs font-normal font-['Calibre']">Ask a followup query</div>
    </div>

    <div class="w-40 h-10 px-3 py-2 bg-gray-200 rounded-xl flex justify-center items-center">
        <div class="w-6 h-6"></div>
        <div class="text-neutral-500 text-xs font-normal font-['Calibre']">Ask a followup query</div>
    </div>

    <div class="w-40 h-10 px-3 py-2 bg-gray-200 rounded-xl flex justify-center items-center">
        <div class="w-6 h-6"></div>
        <div class="text-neutral-500 text-xs font-normal font-['Calibre']">Ask a followup query</div>
    </div>

</div>

<section class="flex h-14 px-4 py-3 bg-white rounded border border-neutral-500 ">
    <input class="w-full outline-none text-stone-500" type="text" placeholder="Type something to ask" />
    <img class="" src="../../assets/vtr1.png">
</section>