<div class="flex overflow-hidden">
    <app-left-panal class="w-[400px] shadow-lg h-screen overflow-y-auto">
        <div class="text-center text-gray-600 font-inter mb-4">
            <img src="../assets/cbrelogo.png">
        </div>
    </app-left-panal>
    <div class="w-full py-2 bg-stone-50">
        <div class="px-16 bg-white">
            <div id="breadcrumb">AskNidhi \</div>

            <div id="title" class=" flex justify-between text-teal-950 text-3xl font-semibold py-2 ">


                <div class="flex justify-start items-center space-x-3">
                    <span>New Conversation</span>
                    <img src="../../assets/pen.png">
                    <img src="../../assets/pushpin.svg">
                </div>
                <div class="flex justify-start space-x-2">
                    <img src="../../assets/Button.png">
                    <img src="../../assets/photo.png">
                </div>


            </div>
        </div>
        <div class="mx-16 m-2">
            <!-- <div class="text-base text-gray-400 font-inter flex justify-center p-2">Today</div> -->

            <div class=" my-1 font-bold text-[64px] font-['Calibre'] text-green-900">Hi, John!
            </div>

            <div class="text-[32px] font-bold font-['Calibre'] text-gray-400">Here are your Daily Updates.</div>

            <div class="h-[calc(100vh-200px)] my-2 py-2 overflow-hidden overflow-y-auto">
                <app-message>

                </app-message>
            </div>
            <app-send class="h-[200px]"></app-send>
        </div>
    </div>
</div>